*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#10141d;
    color:white;
    height:100vh;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    width:280px;
    background:#1b2330;
    padding:25px;
    border-right:1px solid #30384a;
}

.sidebar h2{
    margin-bottom:25px;
}

.upload-btn{
    display:block;
    background:#4f46e5;
    padding:14px;
    text-align:center;
    border-radius:8px;
    cursor:pointer;
    margin-bottom:30px;
    transition:.3s;
}

.upload-btn:hover{
    background:#675df3;
}

.documents h3{
    margin-bottom:15px;
}

.documents ul{
    list-style:none;
}

.documents li{
    background:#293241;
    padding:10px;
    border-radius:8px;
    margin-bottom:10px;
}

.chat-section{
    flex:1;
    display:flex;
    flex-direction:column;
}

.chat-header{
    background:#1b2330;
    padding:20px;
    font-size:22px;
    font-weight:600;
}

.chat-box{
    flex:1;
    overflow-y:auto;
    padding:30px;
}

.bot-message,
.user-message{

    max-width:70%;
    padding:15px;
    margin-bottom:20px;
    border-radius:10px;

}

.bot-message{

    background:#2c3445;

}

.user-message{

    background:#4f46e5;
    margin-left:auto;

}

.input-area{

    display:flex;
    padding:20px;
    background:#1b2330;

}

.input-area input{

    flex:1;
    padding:15px;
    border:none;
    outline:none;
    border-radius:8px;
    font-size:16px;

}

.input-area button{

    margin-left:10px;
    width:130px;
    border:none;
    border-radius:8px;
    background:#4f46e5;
    color:white;
    font-size:16px;
    cursor:pointer;

}

.input-area button:hover{

    background:#675df3;

}